<?xml version="1.0" encoding="UTF-8" ?>

<Configuration status="WARN" monitorInterval="600">
    <Appenders>
        <Console name="console_out_appender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%t] %d{MM/dd-HH:mm:ss,SSS} [%-5p] : %m (%F:%L)%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <root level="trace">
            <appender-ref ref="console_out_appender"/>
        </root>
    </Loggers>
</Configuration>